<div class="container d-flex flex-column align-items-center h-100 m-3">
  {{#each games as |game|}}
  <div class="card mb-3 p-3 w-75">
    <a href="/games/{{game.id}}"></a>
    <h5 class="card-title"> {{game.title}} </h5></a>
    <h8 class="card-subtitle mb-2 text-muted fw-light border-bottom border-secondary ">@{{game.username}}
      {{game.timestamp}}</h8>
    <p class="card-text">{{game.content}}</p>
  </div>
  {{/ each }}
</div>